@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body {
  margin: 0;
  max-height: 100vh;
  font-family: 'Patrick Hand SC', cursive;
  background-color: rgb(73, 88, 110);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.robot_font {
  font-family: 'Kalam', cursive;
}

.title_font {
  font-family: 'Rubik Iso', cursive;
}

@tailwind base;
@tailwind components;
@tailwind utilities;